{% extends 'food/base.html' %}

{% block body %}

<div class="container mt-5">
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-md-3">
                    <img height="150px" width="250px" class="card-img-top" src="{{ item.item_image }}" alt="Item Image">
                </div>

                <div class="col-md-6">
                    <h1 class="font-italic">{{ item.item_name }}</h1>

                    <p class="font-italic font-size-13 text-justify">{{ item.item_desc }}</p>

                    <h3>${{ item.item_price }}</h3>
                </div>

                <div class="col-md-3">
                    {% if user.is_superuser %}
                        <a href="{% url 'food:update_item' item.id %}" class="btn btn-warning btn-sm mb-2">
                            Edit
                        </a>

                        <a href="{% url 'food:delete_item' item.id %}" class="btn btn-danger btn-sm mb-2">
                            Delete
                        </a>

                        <a href="{% url 'food:index' %}" class="btn btn-success btn-sm">
                            Back
                        </a>
                    {% elif user.is_authenticated and user.profile.user_type == 'Rest' %} 
                        <a href="{% url 'food:update_item' item.id %}" class="btn btn-warning btn-sm mb-2">
                            Edit
                        </a>

                        <a href="{% url 'food:index' %}" class="btn btn-success btn-sm">
                            Back
                        </a>
                        
                    {% elif user.is_authenticated and user.profile.user_type == 'Cust' %} 
                        <a href="{% url 'users:orders' item.id item.prod_code user.username %}" class="btn btn-warning btn-sm mb-2">
                            Order
                        </a>

                        <a href="{% url 'food:index' %}" class="btn btn-success btn-sm">
                            Back
                        </a> 
                    {% endif %}     
                </div>
            </div>
        </div>
    </div>
</div>

{% if user.is_authenticated %}
    <!-- History -->
    {% if user.profile.user_type == 'Rest' or user.profile.user_type == 'Admin' %}
    <div class="container mt-3">
        <div class="card">
            <div class="card-body">
                {% for obj in hist %}
                <div class="row mb-2">
                    <div class="col-md-3">
                        {{ obj.user_name }}
                    </div>

                    <div class="col-md-3">
                        {{ obj.prod_ref }}
                    </div> 

                    <div class="col-md-3">
                        {{ obj.item_name }}
                    </div> 

                    <div class="col-md-3">
                        {{ obj.op_type }}
                    </div>     
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    {% endif %}

    <!-- Orders and Checkout -->
    {% if user.profile.user_type == 'Rest' or user.profile.user_type == 'Admin' or user.profile.user_type == 'Cust'  %}
    <div class="container mt-3">
        <div class="card">
            <div class="card-body">
                {% for obj in oco %}
                <div class="row mb-2">
                    <div class="col-md-2">
                        {{ obj.order_id }}
                    </div>

                    <div class="col-md-2">
                        {{ obj.prod_code }}
                    </div> 

                    <div class="col-md-2">
                        {{ obj.quantity }}
                    </div> 

                    <div class="col-md-2">
                        {{ obj.user }}
                    </div> 

                    <div class="col-md-2">
                        {% if user.profile.user_type == 'Cust' %}
                            <a class="btn btn-warning btn-sm" href="{% url 'users:upd_orders' item.id obj.order_id %}">
                                Edit Qty
                            </a>
                        {% endif %}
                    </div>

                    <div class="col-md-2">
                        {% if user.profile.user_type == 'Cust' %}
                            <a class="btn btn-primary btn-sm" href="{% url 'users:buy' item.item_price obj.quantity %}">
                                Buy Now
                            </a>
                        {% endif %}
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    {% endif %}

    <!-- Ratings and Feedback -->
    {% if user.profile.user_type == 'Cust' %}
    <div class="container mt-3">
        <div class="card">
            <div class="card-body">
                <a class="btn btn-dark offset-md-5 mb-2" href="{% url 'users:CusRatFeed' item.id item.prod_code %}">
                    Add Ratings and Feedback
                </a>
            </div>
        </div>
    </div>
    {% endif %}

    <!-- Feedback and Ratings History -->
    {% if user.profile.user_type == 'Rest' or user.profile.user_type == 'Cust' or user.profile.user_type == 'Admin' %}
    <div class="container mt-3">
        <div class="card">
            <div class="card-body">
                {% for obj in crf %}
                <div class="row mb-2">
                    <div class="col-md-1">
                        {{ obj.prod_code }}
                    </div>

                    <div class="col-md-1">
                        {{ obj.ratings }}
                    </div>

                    <div class="col-md-2">
                        {{ obj.feedback }}
                    </div>

                    <div class="col-md-2">
                        {{ obj.username }}
                    </div>

                    <div class="col-md-2">
                        {{ obj.user_type }}
                    </div>

                    <div class="col-md-2">
                        {% if obj.username == user.username %}
                            <a class="btn btn-warning btn-sm" href="{% url 'users:upd_crf' item.id obj.id %}">
                                Edit
                            </a>
                        {% endif %}
                    </div>

                    <div class="col-md-2">
                        {% if obj.username == user.username %}
                            <a class="btn btn-primary btn-sm" href="{% url 'users:del_crf' item.id obj.id %}">
                                Delete
                            </a>
                        {% endif %}
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    {% endif %}

{% endif %}

{% endblock %}
